<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuickElastic</title>

    <script src="//code.jquery.com/jquery-2.2.2.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.css"/>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
